<header class="site-header">
  <a class="site-brand" href="/">
    <img class="brand-icon left" src="/images/crochet1.png" alt="" aria-hidden="true">
    <span class="site-title">katie pennick</span>
    <img class="brand-icon right" src="/images/crochet2.png" alt="" aria-hidden="true">
  </a>
</header>