<header class="site-header">
  <a class="site-brand" href="/">
    <img class="brand-icon left" src="/images/pixel-noodle.png" alt="" aria-hidden="true">
    <span class="site-title">Katerooony</span>
    <img class="brand-icon right" src="/images/pixel-felt.png" alt="" aria-hidden="true">
  </a>
</header>