<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/components.css">
  <link rel="stylesheet" href="/css/blog.css">

  <link rel="icon" href="/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ title or "Katie Pennick's webspace" }}</title>

</head>

<body>
  <a class="skip-link" href="#main">Skip to content</a>

  <div class="page-padding">
    {% include "header.njk" %}

    <div class="content-box">
      <main id="main">
        {{ content | safe }}
      </main>

      {% include "footer.njk" %}
    </div>
  </div>

</body>




</html>